/* página principal */
body {
    z-index: 1;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(181, 176, 247);
}

.topo-p {
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
    position: sticky;
    top: 0;
    margin: -10px auto;
    background-color: white;
    width: 100%;
    text-align: left;
    border-bottom: 3px solid darkblue;
}
.conjunto-t {
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin: auto;
    float: right;
    position: relative;
    width: 45%;
}
.conjunto-t a {
    text-decoration: none;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: blue;
    letter-spacing: normal;
    transition: 0.3s ease;
}
.conjunto-t a:hover {
    letter-spacing: 10%;
    text-shadow: 0px 0px 2px blue;
}
.config-b {
    height: 60px;
    width: 60px;
    padding: 10px;
    border: none;
    background-color: white;
    transition: 0.3s ease;
    border-radius: 50% ;
    align-items: center;
    justify-content: center;
}
.config-b:hover {
    border-radius: 50%;
    background-color: rgba(128, 128, 128, 0.35 );
    transform: rotate(180deg);
}
.img-b {
    width: clamp(20px, 10vw, 40px);
    height: clamp(20px, 10vw, 40px);
}

.login-b {
    font-size: clamp(6px, 3.5vw, 16px);
    width: clamp(90px, 10vw, 120px);
    padding: 10px;
    border: 1px solid blue;
    border-radius: 30px;
    background-color: blue;
    color: white;
    box-shadow: 1px 1px 4px black;
    transition: 0.2s ease;
}

.login-b:hover, .cad-b:hover {
    transform: scale(1.15);
    cursor: pointer;
    font-weight: 600;
    border: 3px solid rgba(0, 0, 255, 0.5);
    box-shadow: 2px 2px 8px black;
}
.cad-b {
    border: 1px solid blue;
    border-radius: 30px;
    padding: 10px;
    background-color: white;
    color: blue;
    width: clamp(90px, 10vw, 120px);
    font-size: clamp(6px, 3.5vw, 16px);
    box-shadow: 1px 1px 4px black;
    transition: 0.2s ease;
}
.Titulo {
    margin: 15px auto;
    font-size: clamp(28px, 7.5vw, 65px);
    font-family: impact;
    font-weight: 100;
    letter-spacing: 5px;
    background: linear-gradient(to right, #0000ff, #23ffed);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

hr {
    margin: auto;
    width: 100%;
    height: 2px;
    background-color: darkblue;
    border: none;
}
.pagina-i {
    background-color: rgba(255, 255, 255, 0.3);
    text-align: center;
    padding: 10px;
    margin: 20px auto;
    width: clamp(550px, 95vw, 1350px);
    border: 2px solid rgb(65, 65, 243);
    border-radius: 25px;
}
.titulo-p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: clamp(28px, 15vw, 54px);
    color: rgb(39, 138, 199);
    text-shadow: 0px 0px 32px white;
}
.Subtitulo-p {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: clamp(16px, 5vw, 28px);
    text-shadow: 0px 0px 18px gray;
}
.pagina-i span {
    color: rgb(58, 58, 255);
}
/* Aviso */
.i-Descricao {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(12px, 2.5vw, 18px);
    pointer-events: none;
}

.icn-div {
    transition-delay: 1s;
    margin: auto;
    width: 30px;
}

.aviso-b {
    cursor: pointer;
    z-index: 1;
    text-align: center;
    margin: 20px 20px;
    width: clamp(30px, 20vw, 60px);
    height: clamp(30px, 20vw, 60px);
    border: 2px solid black;
    border-radius: 50%;
    transition: 0.4s;
    background: rgb(238, 238, 238);
    box-shadow: 0px 2px 6px 2px gray;
}

.aviso-b:hover {
    box-shadow: 0px 2px 10px 2px rgb(76, 76, 76);
    background: white;
}

.aviso-b:active {
    transform: scale(0.85);
    background-color: rgb(65, 65, 243);
    border: 2px solid white;
}

.aviso-f {
    transition: 0.2s;
    width: clamp(22px, 2.5vw, 30px);
    height: clamp(22px, 2.5vw, 30px);
    border: 1px ridge transparent;
    border-radius: 50%;
    background-color: gray;
    color: white;
    position: relative;
    float: left;
    box-shadow: 0px 2px 6px 1px black;
}

.aviso-f:hover {
    background-color: rgb(112, 112, 112);
    transform: scale(1.2);
    cursor: pointer;
}

.inicio {
    transition: 0.6s;
    position: fixed;
    top: -200%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background-color: white;
    border: 2px solid rgba(128, 128, 128, 0.805);
    padding: 15px;
    width: clamp(350px, 80vw, 800px);
    height: clamp(200px, 30vh, 400px);
    border-radius: 20px;
    box-shadow: 0px 6px 18px 1px rgb(0, 0, 0);
}

.inicio.aberto {
    position: relative;
    top: 0%;
}

.s-Descricao {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: clamp(12px, 5vw, 18px);
}

.Acessar {
    margin: 30px;
    width: clamp(80px, 15vw, 145px);
    height: clamp(45px, 7.5vh, 75px);
    color: white;
    background-color: rgb(65, 65, 243);
    border: 2px dashed transparent;
    border-radius: 15px;
    transition: 0.2s;
    font-size: clamp(10px, 4.5vw, 16px);
}

.Acessar:hover {
    text-decoration: underline;
    border: 2px dashed white;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.75);
}

.Acessar:active {
    background-color: rgb(235, 235, 235);
    color: rgb(65, 65, 243);
    transform: scale(0.925);
}

.i-Subtitulo {
    pointer-events: none;
    text-align: center;
    background: linear-gradient(to bottom, cyan, blue);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: clamp(18px, 5vw, 32px);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
}

/* FAQ */
.FAQ {
    background-color: white;
    border-radius: 30px;
    border: 2px dashed gray;
    width: 95vw;
    margin: 20px auto;
    padding: 10px;
}

section {
    padding: 10px;
    border: 2px ridge transparent;
    background: linear-gradient(to bottom, rgba(0, 0, 255, 0.814), darkblue);
    color: white;
    display: block;
    float: right;
    width: clamp(180px, 35vw, 320px);;
    margin: 10px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: clamp(14px, 6.5vw, 22px);
    box-sizing: border-box;
    box-shadow: 6px 6px 12px 1px black;
    border-radius: 20px;
}

summary::before {
    content: " + ";
    font-size: clamp(18px, 5vw, 32px);
    color: blue;
}

details[open] summary::before {
    content: " - ";
}

.Subtitulo {
    text-shadow: 0px 0px 25px rgb(65, 65, 243);
    cursor: pointer;
    margin: 2.5vw;
    width: clamp(250px, 35%, 400px);
    background: linear-gradient(to bottom, cyan, blue);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: clamp(18px, 5vw, 32px);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
}

.m-Subtitulo {
    margin: 2.5vw;
    color: rgb(35, 112, 159);
    font-size: clamp(14px, 3.5vw, 26px);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 200;
}

.Descricao {
    text-align: justify;
    margin-left: clamp(20px, 2.5vw, 40px);
    margin-right: clamp(20px, 2.5vw, 40px);
    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(12px, 2.5vw, 18px);
}

/*dashboard principal */
.conteudo-d {
    border: 3px solid rgba(128, 128, 128, 0.65);
    background-color: rgba(255, 255, 255, 0.545);
    box-shadow: 0px 3px 10px black;
    border-radius: 30px;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    margin: 40px auto;
    width: 95vw;
}

.dashboard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 20px 20px auto;
    padding: 15px;
    border: 1px solid rgb(65, 65, 243);
    border-radius: 20px;
    width: clamp(200px, 65vw, 1200px);
    height: auto;
    box-shadow: 0px 4px 14px rgba(28, 23, 83, 0.85);
    background-color: white;
}

.info-l {
    box-shadow: 0px 2px 8px black;
    background-color: white;
    border: 1px solid gray;
    border-radius: 10px;
    margin: auto;
    padding: 10px;
    width: clamp(100px, 20vw, 300px);
    height: auto;
}

.dicas-d {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: clamp(12px, 3.5vw, 28px);
    background: linear-gradient(to bottom, cyan, blue);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.texto-d {
    margin-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.top-d {
    width: 100%;
    padding: 15px;
    align-items: center;
    margin-bottom: 15px;
}

.span-d {
    background-color: rgb(65, 65, 243);
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
    position: relative;
    float: left;
    text-align: center;
    margin: 5px 15px auto auto;
    box-shadow: 1px 1px 6px black;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 50%;
    padding: 1%;
    width: clamp(10px, 5vw, 20px);
    height: auto;
}

.dash-p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
}

.grafico-d {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    display: block;
    margin: auto 25px 25px;
    border: 2px solid gray;
    border-radius: 10px;
    padding: 10px;
    width: clamp(70px, 10vw, 200px);
    text-align: center;
    box-shadow: 0px 2px 10px gray;
}

.selector-d {
    width: 120px;
    display: flex;
    margin: auto;
    flex-direction: row;
    justify-content: center;
}

.selector {
    accent-color: rgb(102, 102, 102);
    width: 10px;
    height: 10px;
    border: 1px solid gray;
    border-radius: 50%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.76);
    transition: 0.2s;
}

.selector:hover {
    cursor: pointer;
    border: 1px solid black;
}

.selector:active {
    background-color: white;
    transform: scale(1.5);
}

.secao-d {
    opacity: 0.6;
    background-color: gray;
}

.grafico-dg2 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    margin: 10px auto;
}

/*cadastro, login e Recuperação de senha */

.body-cad {
    background: radial-gradient(ellipse, blue, white);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.cadastro {
    flex-direction: column;
    width: clamp(300px, 40vw, 1200px);
    height: clamp(565px, 90vh, 1800px);
    padding-left: 2.5%;
    padding-right: 2.5%;
    text-align: center;
    margin: 2.5% auto;
    border: 2px ridge gray;
    border-radius: 15px;
    box-shadow: 0px 0px 16px blue;
    background-color: white;
}

.campo {
    margin: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: clamp(12px, 2vw, 20px);
    font-weight: 100;
    text-decoration: underline;
    padding: 1%;
}

.campo-i {
    display: block;
    margin: auto;
    width: 20vw;
    padding: 2%;
    margin-top: 1%;
    margin-bottom: 1%;
    background-color: rgba(173, 216, 230, 0.658);
    border: 2px ridge transparent;
    border-radius: 20px;
    transition: 0.3s;
}

.campo-i:focus {
    outline: none;
    border: 5px solid rgba(80, 80, 225, 0.2);
    box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.345);
}

@media (max-width: 600px) {
    .campo-i:focus {
        width: 65%;
    }
}

.campo-i:user-valid {
    border: 5px solid rgba(80, 225, 80, 0.3);
    background-color: rgba(40, 180, 30, 0.35);
}

.campo-i:not(:placeholder-shown):invalid {
    border: 5px solid rgba(225, 80, 80, 0.3);
    background-color: rgba(180, 30, 30, 0.35);
}

.campo-i:not(:focus):hover {
    border-bottom: 2px ridge gray;
    box-shadow: 0px 4px 8px 1px rgba(0, 0, 0, 0.345);
}

.requisitos {
    display: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(6px, 1.25vw, 12px);
    text-align: left;
    margin-left: 20%;
    margin-right: 20%;
    transition: 0.3s;
}

.button-cad {
    margin-top: 30px;
    margin-bottom: 30px;
    border: 2px ridge transparent;
    padding: 2.5%;
    border-radius: 15px;
    width: 15vw;
    background-color: blue;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    font-size: clamp(4px, 2vw, 18px);
    transition: 0.3s;
}

.button-cad:disabled {
    background-color: rgba(0, 0, 255, 0.5);
    color: rgba(255, 255, 255, 0.5);
}

.button-cad:not(:disabled):hover {
    border: 2px solid rgba(128, 128, 128, 0.75);
    background: radial-gradient(ellipse, blue, rgba(0, 255, 255, 0.75));
    cursor: pointer;
}

.button-cad:not(:disabled):active {
    background: radial-gradient(ellipse, rgba(0, 255, 255, 0.75)), rgb(0, 0, 0);
}

.t-cadastro {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 100;
    font-size: clamp(16px, 6vw, 55px);
    margin: 20px;
    background-image: linear-gradient(to bottom, cyan, blue);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.sub-cadastro {
    margin-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(12px, 1.8vw, 22px);
}

.base {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login {
    flex-direction: column;
    width: clamp(185px, 35vw, 900px);
    padding-left: 2%;
    padding-right: 2%;
    text-align: center;
    border: 2px ridge gray;
    border-radius: 15px;
    box-shadow: 0px 0px 16px blue;
    background-color: white;
}

.body-log {
    background: radial-gradient(ellipse, blue, white);
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

.link-c {
    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(12px, 2.5vw, 22px);
    text-decoration: none;
    color: blue;
    transition: 0.2s;
}

.link-c:hover {
    text-decoration: underline;
    color: rgb(0, 0, 130);
    font-weight: 600;
    letter-spacing: 10%;
}

.icn-rec {
    width: clamp(60px, 65%, 120px);
    margin-top: 15px;
    margin-bottom: auto;
}

/* Teste */