body {
    width: 100%;
    margin: 0;
}

.img-button {
    width: clamp(20px, 75%, 50px);
    height: clamp(20px, 75%, 50px);
}

.menu-b {
    width: clamp(35px, 5vw, 60px);
    height: clamp(35px, 5vh, 60px);
    position: absolute;
    left: 20px;
    top: 35px;
    background-color: white;
    border: 2px ridge transparent;
    transition: 0.3s;
}

.menu-b:hover {
    border: 2px ridge blue;
    border-radius: 10px;
    background-color: rgba(0, 0, 255, 0.250);
}

.menu-b:active {
    background-color: white;
    transform: scale(1.1);
}



.Titulo {
    font-size: clamp(28px, 7.5vw, 65px);
    text-align: center;
    font-family: impact;
    font-weight: 100;
    letter-spacing: 5px;
    background: linear-gradient(to right, #0000ff, #23ffed);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 10px;
    margin-bottom: 20px;
}

hr {
    margin: auto;
    width: 100%;
    height: 2px;
    background-color: darkblue;
    border: none;
}

.Subtitulo {
    margin: 2.5vw;
    background: linear-gradient(to bottom, cyan, blue);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: clamp(18px, 5vw, 32px);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
}

.Descricao {
    margin-left: 2.5vw;
    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(12px, 2.5vw, 18px);
}

.img-ods {
    position: relative;
    float: right;
    width: 50vw;
    height: auto;
    margin: 2.5%;
    mask-image: radial-gradient(ellipse, black, transparent 100%);
    opacity: 0.65;
    border-radius: 10%;
}

/*cadastro e login*/
.body-cad {
    background: radial-gradient(ellipse, blue, white);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.cadastro {
    flex-direction: column;
    width: clamp(300px, 55vw, 1200px);
    padding-left: 2.5%;
    padding-right: 2.5%;
    text-align: center;
    margin: auto;
    border: 2px ridge gray;
    border-radius: 15px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.250);
    background-color: white;
}

.campo {
    margin: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: clamp(14px, 2.5vw, 24px);
    font-weight: 100;
    text-decoration: underline;
    padding: 3%;
}

.campo-i {
    display: block;
    margin: auto;
    width: 25vw;
    padding: 2.5%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    background-color: rgba(173, 216, 230, 0.658);
    border: 2px ridge transparent;
    border-radius: 20px;
    transition: 0.3s;
}

.campo-i:hover {
    border-bottom: 2px ridge gray;
    box-shadow: 0px 4px 8px 1px rgba(0, 0, 0, 0.345);
}

.button-cad {
    margin-top: 5vw;
    margin-bottom: 2.5vw;
    border: 2px ridge transparent;
    padding: 2.5%;
    border-radius: 15px;
    width: 15vw;
    background-color: blue;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    font-size: clamp(6px, 2vw, 20px);
    transition: 0.3s;
}

.button-cad:hover {
    border: 2px solid rgba(128, 128, 128, 0.75);
    background: radial-gradient(ellipse, blue, rgba(0, 255, 255, 0.75));
    cursor: pointer;
}
.button-cad:active {
    background: radial-gradient(ellipse, rgba(0, 255, 255, 0.75)), rgb(0, 0, 0) ;
}
.t-cadastro {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 100;
    font-size: clamp(28px, 10vw, 65px);
    background-image: linear-gradient(to bottom, cyan, blue);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.sub-cadastro {
    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(12px, 2vw, 24px);
}

.login {
    flex-direction: column;
    width: clamp(300px, 55vw, 1200px);
    padding-top: 5%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    text-align: center;
    margin: 2.5% auto;
    border: 2px ridge gray;
    border-radius: 15px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.250);
    background-color: white;
}
.body-log {
    background: radial-gradient(ellipse, blue, white);
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}
.link-c {
    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(12px, 2.5vw, 22px);
    text-decoration: none;
    color: blue;
    transition: 0.2s;
}
.link-c:hover {
    text-decoration: underline;
    color: rgb(0, 0, 130);
    font-weight: 600;
    letter-spacing: 10%;
}